<h2 mat-dialog-title>Settings</h2>

<mat-dialog-content class="settings-content">
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Work Duration (minutes)</mat-label>
      <input matInput type="number" [(ngModel)]="workMinutes" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Break Duration (minutes)</mat-label>
      <input matInput type="number" [(ngModel)]="breakMinutes" />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-warn" mat-dialog-close>Cancel</button>
  <button class="mat-primary" (click)="saveSettings()">Save</button>
</mat-dialog-actions>
